<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vipul Jain</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/background.jpeg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/profilepic.jpeg" alt="Image"/></a></div>
          <div class="h2 title">Vipul Jain</div>
          <p class="category text-white">Data Scientist + Data Analyst</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contact Me</a><a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='Vipul_Jain_Resume.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <!-- <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" target = "_blank" href="https://www.facebook.com/vipul.jain.9041083" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a> -->
            <!-- <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/akalla123" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a> -->
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/vipul-jain-a3115944/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Data Scientist and Analyst who likes to solve problems using data+code. Proficient in the field of Machine Learning and Artificial Intelligence. Other interests include building TimeSeries Models, Data Visualization and Sales & Profit Forecasting.</p>
            <p>Respected for organizational and interpersonal aptitudes, implementation of strategic initiatives, project management and results-focused interactions across organization.</p>
            <p>Pursuing Master of Data Science, RMIT University, following an interest in Machine Learning and Artificial Intelligence with <b>Full-Time working rights in Australia</b>.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <!-- <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">32</div>
            </div> -->
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">007.vipul.j@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+61-434443228</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Newport, Victoria, Australia</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, Hindi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>Programming Languages:</b> Python, R, SQL<br><br>
        <b>Tools:</b> Scikit-Learn, NumPy, Pandas, Matplotlib, Plotly, Tableau, MS Excel, Hadoop, Python Flask<br><br>
        <b>Database Management Systems:</b> MySQL, SQLite3<br><br>
        <b>Internet Technologies:</b> Flask, HTML5, CSS<br><br>
        <b>Mentality:</b> Agile, Teamwork
      </div>
    </div>
  </div>
</div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Professional Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>November 2018 - February 2022</p>
            <div class="h5">GoldVIP Technology Solutions Pvt. Ltd.</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Innovation Lead | Data Analytics and Science</div>
            <p>
              <ul>
                <li>Developed, maintained and analysed annual project budgets (> $200,000 pm)</li>  
                <li>Developed AI tool reducing decision time to one-tenth and improving 5 times the staff efficiency Reduced communication cost by 60%, costing 5% performance, and ensemble model of K-means and random forest</li>
                <li>Implemented LightGBM predictions, ranking and improving user's online performance</li>
                <li>Developed an algorithm to identify bad quality users, improving data quality by 3 times</li>
                <li>Developed user based demand forecasting, enabling improved budget planning for acquisition, retention and resurrection</li>
                <li>Delivered performance reports to senior management and executives, providing customer performance insights</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2017 - November 2018</p>
            <div class="h5">GoldVIP Technology Solutions Pvt. Ltd.</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Analytics Specialist | Data Analytics</div>
            <p>
              <ul>
                <li>Developed an algorithm through analysis of cost spent on social media platforms by demographics, improving LTV by 2 times</li>
                <li>Collaborated in the development of a recommendation system, increasing 60% transaction rate and reducing 80% daily notifications</li>
                <li>Predicted user demand, differentiated by demographics, using time-series analysis and forecasting</li>
                <li>Decreased user acquisition cost by 98% via gamification of business processes</li>
                <li>Implemented business strategies in marketing (Golden Ratio), and analytics, increasing 4 times the gross margin</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>June 2016 - October 2017</p>
            <div class="h5">GoldVIP Technology Solutions Pvt. Ltd.</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Business Analyst</div>
            <p>
              <ul>
                <li>Developed myriad of automated processes, using python scripting, supporting financial reporting, invoice delivery, and efficiency improvement opportunities</li>  
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2014 - July 2015</p>
            <div class="h5">Axsiom Domains Private Ltd.</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Analyst | Data Analytics</div>
            <p>
              <ul>
                <li>Developed detailed technical financial models to value potential acquisition targets and acquired domain names, resulting in profit of $35,000</li>  
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>November 2013 - May 2014</p>
            <div class="h5">Futures First Info Services Pvt. Ltd.</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Analyst | Commodity Markets</div>
            <p>
              <ul>
                <li>Analyzed stock, sector and market for Gold in CME, generating USD $24,000 in profit; and assessed hourly market conditions to look for hedge and arbitrage opportunities</li>  
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id = "education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2021 - 2023</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Masters in Data Science</div>
            <p class="category">Royal Melbourne Institute of Technology</p>
            <p>Relevant Coursework: Machine Learning, Artificial Intelligence, Time Series Forecasting, Advanced Python, Data Wrangling</p>
            <p>
              <b>Projects:</b><br>
              <ul>
              <li>Built a ranking model using LightGBM, predicting page ranking for an unseen dataset and using common learn-to-rank features</li>
              <li>Estimated a user review score in a recommender system, using various ML algorithms, comparing results through matrix factorization, slopOne and co-clustering</li>
              <li>Modeled and predicted AUD-INR exchange rate, using time-series forecasting models, performing model comparisons through evaluation measures such as ACF/PACF, EACF</li>
              <li>Used linear equations optimizations in python, to handle multi route problems, built Sudoku solver and production chain optimizations</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2013</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B.Tech in Engineering Physics</div>
            <p class="category">Delhi Technological University</p>
            <p>Relevant Coursework: Mathematical Physics, HTML, CSS, Quantum Physics</p>
            <p>
              <b>Projects:</b><br>
              <ul>
              <li>A Machine Learning model to predict the AQI Index of Delhi, India based on features like Month Time, festivals, temperature, etc.</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
    

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/Newport.jpg')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <!-- <div class="col-md-6">
                  <div class="card-body">
                    <form action="/sendemail/" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                    
                            <button class="btn btn-primary" type="submit">Send</button>
                        
                         
                        </div>
                      </div>
                    </form>
                  </div>
                </div> -->
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">5/1, Johnston Street, Newport, Victoria 3015</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+61-434443228</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>007.vipul.j@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <!-- <a class="cc-facebook btn btn-link" target="_blank" href="https://www.facebook.com/ayush.kalla/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a> -->
        <!-- <a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/akalla123"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a> -->
        <a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/vipul-jain-a3115944/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Vipul Jain</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>